h3{
    color: rgb(160, 188, 188);
    background-color: aqua;

}
p{
    color: rgb(196, 163, 124);
    font-size: larger;
}
.heading1{
    color: rgb(173, 136, 91);
    background-color: aliceblue;
}
.heading2{
    color: rgb(49, 82, 71);
    background-color: rgb(187, 206, 206);

}
.paragraph1{
    font-size: medium;
    color: rgb(28, 54, 54);
    background-color: rgb(216, 243, 234);
    font-style: italic;
}
#head1{
    color: rgb(84, 84, 105);
    background-color: rgb(202, 197, 207);
}
#para{
    color: rgb(15, 98, 70);
}
.para{
    color: bisque;
}
.head_font{
    font-size: larger;
}
.head2{
    color: rgb(75, 62, 86);
}
.t_format_upper{
    text-transform: uppercase;
    color: rgb(91, 91, 115);
    text-decoration: overline;
}
.t_format_lower{
    text-transform: lowercase;
    color: rgb(91, 91, 115);
    text-decoration: underline;
}
.t_format_capatalize{
    text-transform: capitalize;
    color: rgb(91, 91, 115);
    text-decoration: line-through overline underline;
}
.t_center{
    text-align: center;

}
.t_indent{
text-indent: 200px;
}
.letter_space{
    letter-spacing: 5px;
}
.para_line_height{
    line-height: 25px;
}
.word_space{
    word-spacing: 50px;
}
.t_shadow{
    color: rgb(88, 31, 85);
    text-shadow: 2px 2px 4px rgb(62, 159, 136);

}
.t_shadow1{
    color: rgb(50, 107, 141);
    text-shadow: 10px 0px 0px rgb(160, 174, 171);
}
.t_shadow2{
    color: rgb(84, 16, 16);
    text-shadow: 0px 4px 0px rgb(130, 96, 104);

}
.t_shadow3{
    color: rgb(18, 99, 81);
    text-shadow: 8px 0px 4px rgb(79, 83, 82);

}
.t_shadow4{
    color: rgb(129, 134, 36);
    text-shadow: 0px 8px 10px rgb(79, 83, 82);

}
.img_shadow{
box-shadow: 8px 8px 8px rgb(131, 33, 101);
}
.img_shadow1{
box-shadow: 8px 8px 5px rgb(88, 39, 48);
}
.img_shadow2{
box-shadow: 8px 8px 8px rgb(39, 152, 53);
}
.img_shadow3{
box-shadow: 8px 8px 10px rgb(9, 75, 116);
}

.img_border{
    border: 2px solid rgb(101, 94, 94);
    border-radius: 15px;
}
.img_border1{
    border: 2px dashed rgb(50, 39, 132);
    border-bottom-right-radius: 25px;
}
.img_border2{
    border: 2px dotted rgb(87, 105, 54);
     border-bottom-left-radius: 25px;
}
.img_border3{
    border: 2px groove rgb(37, 140, 116);
     border-top-right-radius:40px;
     
}

.img_border4{
    border: 2px double rgb(125, 48, 124);
    
     border-top-left-radius: 20px;
}
.b_model{
    border:1px solid black;
    padding: 20px;
    background-color: black;
    color: white;
    margin: 20px 50px;
}
.b_model1{
    border:1px solid black;
    padding: 40px;
    background-color: black;
    color: white;
    margin: 50px 20px;
    text-indent: 20px;
}
.b_model2{
    border:1px solid black;
    padding: 30px 40px;
    background-color: black;
    color: white;
    margin: 50px  30px;
}
img{
    border: 1px solid;
     border-radius: 20px;
    margin-left: 20px;
    padding: 10px;
    box-shadow:  2px 8px 10px black;
}
body{
    background-color: antiquewhite;
   
    

}
.f_family{
    font-family: sans-serif;
    background-color: black;
    padding: 20px;
}
.f_family1{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: black;
    padding: 20px;
    line-height: 25px;
}
.f_family1{
    font-family: monospace;
    background-color: black;
    padding: 20px;
    line-height: 25px;
}
.f_family2{
    font-family: cursive;
    background-color: black;
    padding: 20px;
    line-height: 25px;
}
.font_weight{
    font-weight: 800px;
}
.bgcolor{
   
    color: aliceblue;
    font-size: 50px;
    text-align: center;
    background: linear-gradient(to right,pink, azure);
}
.bglinear{
    height: 300px;
    background: linear-gradient( to right ,pink ,azure, rgb(105, 30, 30),pink);
    margin-top: 10px;
}
.bgradial{
    background: radial-gradient(circle at left ,pink, azure);
    height:400px;
    margin-top: 10px;
}
.bconic{
    background:conic-gradient(from 90deg,black,orange);
    height: 500px;
    margin-top: 10px;
}
.background_img{
     background-color: antiquewhite;
    background-image:url("/img/back.jfif");
    background-repeat: no-repeat;
    background-size: cover;
}
.box{
    height: 200px;
    width: 400px;
    border: 2px solid black;
    margin: 5px;
    background-color: rgb(195, 158, 114);
}
.box1{
    position: static;
}
.box2{
    position:relative;
    top: 50px;
    left: 500px;
}
.box3{
    position:absolute;
    top: 30px;
    left: 300px;
}
.box4{
    position: sticky;
    top: 10px;
    left: 50px;
}
.box5{
    position: fixed;
    right: 50px;
    bottom: 0px;
}
.flex_container{
    display: flex;
    flex-direction: row;
   justify-content: center;
    flex-wrap: wrap;
}

.flex_item{
    border: none;
   
    height: 150px;
    width: 250px;
    font-size: 30px;
    margin: 10px;
   box-shadow: 4px 3px 10px black;
    border-radius: 20px;
}
ul li{
    list-style: none;
}
.flex_container1{
    display: flex;
    flex-direction: row;
    background-color: aqua;
    flex-wrap: wrap;
}

.flex_item1{
    border: solid 2px ;
    background-color: aquamarine;
    height: 100px;
    width: 250px;
    font-size: 30px;
    margin: 10px;
    padding: 20px;
   
    border-radius: 20px;
}




